<div class="show">
  <p>Title:<%= @book.title %></p>

  <p>Body:<%= @book.body %></p>


  <span class="bottan">
    <%= link_to "Edit", edit_book_path(@book.id) %>
  </span>
|
  <span class="bottan">
    <%= link_to "Back", index_book_path %>
  </span>
</div>