* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

h1 {
  margin: 17.42px 0px;
  font-size: 26px;
}

.top {
  margin: 33px;
}

.top-text {
  margin: 33px;
  font-size: 13px;
}


th {
  padding: 1px 1px 5px;
  font-size: 13px;
}

td {
  margin: 33px;
  padding: 1px 5px 7px;
  font-size: 13px;
}

label {
  display: block
}

p {
  margin: 33px;
}

.show {
  margin: 33px;
  font-size: 13px;
}

.form {
  font-size: 13px;
  margin: 0 0 10px;
}

.edit {
  margin: 33px;
}

.bottan {
  font-size: 13px;
}

#notice {
  font-size: 13px;
  color: #008000;
  margin: 33px;
}